

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
}
.Login-container{
    background-color: #E4E4E4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box-center{
    width: 650px;
    height: auto;
    background-color:  #FFFFFF;
    display: flex;
}
.login-form{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

    

.login-sign-up{
    min-width: 250px;
}
.log-title{
    text-transform: uppercase;
    font-weight:bolder;
    text-align: center;
    font-size: 24px;
}

.log-title, .input-container, .btn-login, .repassword, .ws-mobile-logo, .chamge-language{
    min-width: 260px;
    max-width: 260px;
    max-height: 35px;
    min-height: 35px;
    margin: 0px auto;
}
/* Logo for mobile version */
.ws-mobile-logo{
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: none;
}
.log-info{
    min-width: 260px;
    max-width: 260px;
    text-align:left;
    font-size: 13px;
    color: #768192;
    margin: 10px auto;
}
.input-container, .btn-login{
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    margin: 10px auto;
}
.mobile-version{
    display: none;
}
.input-label{
    width: 60px;
    height: 35px;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input-data> input{
    width: 200px;
    height: 35px;
    border: none;
    padding: 2px 6px;
    box-sizing: border-box;
}
.input-data> input:focus{
    outline: none;
}
.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3399FF;
    color: #FFFFFF;
}
.repassword{
    font-size: 12px;
    color: #E75D31;
    min-height: auto;
}
.lock-icon{
    font-size: 30px;
    color:#acacac ;
}
.chamge-language{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #acacac65 ;
    margin-top: 10px;
}
.chamge-language> img{
    width: 20px;
    margin: 0px 4px;
}

/* sing up style css */
.login-sign-up{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #3399FF;
    padding: 10px 0px 20px 0px;
}

.ws-logo, .ws-info, .btn-singup{
    min-width: 200px;
    max-width: 200px;
    margin: 0px auto;
    color: #FFFFFF;
}
.ws-logo{
    margin: 50px auto;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.ws-info{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
}
.btn-singup{
    max-height: 35px;
    min-height: 35px;
    border: none;
    background-color: #F9B115;
    font-family: 'Poppins', sans-serif;
    
}
.sms-icon{
    font-size: 30px;
    color:#768192 ;
}



.mobile-btn-log{
    min-width: 100px;
    height: 100%;
    background-color: #3399FF;
    color: #FFFFFF;
    border: none;
}
.mobile-btn-sing{
    min-width: 160px;
    height: 100%; 
    border: none;

}

/* Css style in mobile version */
@media screen and (max-width: 760px) {
    .login-sign-up{
        display: none;
    }
    .login-box-center{
        width: 400px;
    }
    .ws-mobile-logo, .mobile-version{
        display: block;
    }
  }
  @media screen and (max-width: 460px) {
    .login-box-center{
        width: 100%;
        height: 100vh;
        background-color:  #FFFFFF;
        display: flex;
    }
  }