

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
}
.Login_container{
    background-color: #E4E4E4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box_center{
    width: 650px;
    height: auto;
    background-color:  #FFFFFF;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.login_form{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

    

.login_sign_up{
    min-width: 250px;
}
.log_title{
    text-transform: uppercase;
    font-weight:bolder;
    text-align: center;
    font-size: 24px;
}

.log_title, .input_container, .btn_login, .repassword, .ws_mobile_logo, .chamge_language{
    min-width: 260px;
    max-width: 260px;
    max-height: 35px;
    min-height: 35px;
    margin: 0px auto;
}
/* Logo for mobile version */
.ws_mobile_logo{
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: none;
}
.log_info{
    min-width: 260px;
    max-width: 260px;
    text-align:left;
    font-size: 13px;
    color: #768192;
    margin: 10px auto;
}
.input_container, .btn_login{
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    margin: 10px auto;
}
.mobile_version{
    display: none;
}
.input_label{
    width: 60px;
    height: 35px;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input_data> input{
    width: 200px;
    height: 35px;
    border: none;
    padding: 2px 6px;
    box-sizing: border-box;
}
.input_data> input:focus{
    outline: none;
}
.btn_login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3399FF;
    color: #FFFFFF;
}
.repassword{
    font-size: 12px;
    color: #E75D31;
    min-height: auto;
}
.lock_icon{
    font-size: 30px;
    color:#acacac ;
}
.chamge_language{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #acacac65 ;
    margin-top: 10px;
}
.chamge_language> img{
    width: 20px;
    margin: 0px 4px;
}

/* sing up style css */
.login_sign_up{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #3399FF;
    padding: 10px 0px 20px 0px;
}

.ws_logo, .ws_info, .btn_singup{
    min-width: 200px;
    max-width: 200px;
    margin: 0px auto;
    color: #FFFFFF;
}
.ws_logo{
    margin: 50px auto;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.ws_info{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
}
.btn_singup{
    max-height: 35px;
    min-height: 35px;
    border: none;
    background-color: #F9B115;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    
}
.sms_icon{
    font-size: 30px;
    color:#768192 ;
}



.mobile_btn_log{
    min-width: 100px;
    height: 100%;
    background-color: #3399FF;
    color: #FFFFFF;
    border: none;
}
.mobile_btn_sing{
    min-width: 160px;
    height: 100%; 
    border: none;

}

/* Css style in mobile version */
@media screen and (max-width: 760px) {
    .login_sign_up{
        display: none;
    }
    .login-box-center{
        width: 400px;
    }
    .ws_mobile_logo, .mobile_version{
        display: block;
    }
  }
  @media screen and (max-width: 460px) {
    .login_box_center{
        width: 100%;
        height: 100vh;
        background-color:  #FFFFFF;
        display: flex;
    }
  }